* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 60px; 
    background-color: rgb(48, 45, 45);
}

h1 {
    color: white;
    text-align: center;
    padding: auto;
}

img{
    height: 50px;
    width:  50px;
}

.row {
    width: 100%;
}

#city-list {
    background-color: rgb(243, 233, 233);
    float: left;
}

#search-button {
    width: 30px;
    background-color: rgb(82, 101, 209);
    color: white;
}

#search-button:hover {
    background-color: rgb(6, 6, 153);
}

.cityID{
    background-color: white;
    width: 80%;
    padding: 5px 0 5px 0;
}

#city-input{
    margin-bottom: 20px;
}

#weatherToday{
    width: 100%;
    padding: 20px;
    margin: 35px;
}

.label{
    display:inline-block;
}

.green, .yellow, .orange, .red, .purple{
    display:inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}

.purple{
    background-color: purple;
}

.blueContainer{
    display:inline-block;
    margin-right: 20px;
    background-color: rgb(82, 101, 209);
    width: 120px;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.date{
    font-weight: bold;
}


